[2020-09-08 17:30] briandavidson commented on #153
Hi @MelissaBraxton -- sorry for the lack of clarity in the comment. If you checkout the [mock](https://github.com/USDAForestService/USFS-timber-permitting/blob/master/docs/design-deliverables/online-timber-permitting-ui/2019-12--mvp-usability-test/FS%20MVP1--9.0%20Confirm%20and%20next%20steps.jpg) you can see that a bunch of words are cut off on the right side, which is what I was trying to highli

[2020-09-08 17:41] MelissaBraxton commented on #153
Oh, I see! I think you may just need to scroll to the right after clicking that link :) @briandavidson

[2020-09-08 18:14] briandavidson commented on #153
Oh wow.. I feel very silly now. Thanks @MelissaBraxton :)

[2020-09-08 19:25] mtlaney commented on #131
@jstrothman should be ready to review

[2020-09-08 22:11] csstarling commented on #121
@aQuib  i can the usability box be checked?

[2020-09-08 22:12] MelissaBraxton commented on #166
@mtlaney - Should this be in awaiting acceptance?

[2020-09-08 22:55] bboddiger opened #184 "Load Tag-Dev"
**Background**
This issue covers development of use-at-home load tag.
I need the relevant information I entered into the permit order form to be automatically populated on my load tags, so I can legally get wood.

Currently, load tags are designed to be printed by customer.
This is for emailed print-at-home load tag.  How the load tag is displayed in OF/URL will be designed under separate issue.

[2020-09-08 23:04] bboddiger commented on #184
@carlsonem and @mtlaney  We created the load tag dev issue today so you don't have to.

[2020-09-08 23:33] aQuib commented on #121
@csstarling - This has been usability tested (and I just checked checkbox)

[2020-09-09 00:00] aQuib commented on #157
@carlsonem - Yes, it can (I moved it).

[2020-09-09 00:08] aQuib commented on #158
This wouldn't require design tasks per #157.

[2020-09-09 00:14] aQuib commented on #178
@MelissaBraxton - can I get access to this doc?

[2020-09-09 01:11] JonathanLerner54 commented on #33
We seem to be cherry picking our data to find any reason to not have to protect the PII by calling it by another name.  STAND-ALONE.  We can not use any of this as we are asking for name, address and email on the permit.  So we are not STAND-ALONE.

The reason last 4 of a social security number is considered STAND-ALONE PII is because the first five numbers represent when and where your Social Sec

[2020-09-09 15:26] mtlaney commented on #120
@jstrothman should be ready for a re-review

[2020-09-09 19:58] aQuib commented on #181
@MelissaBraxton - Can I get access to this [document](https://docs.google.com/document/d/1vz6A0pETZShtSnbMCgWyILFdJZVkYlZb5caZFQ45gHE/edit?folder=1OlKHs8CMYMtryyLuij2pFpcm1fu1aqaD#heading=h.h4gb2cawjsha)?

[2020-09-09 21:29] MelissaBraxton commented on #176
@bboddiger - To close this out, let's go over these things at our regular mtg on 9/15:
 - document your cadence for revisiting the roadmap going forward int he wiki
 - NEW ISSUE for customer feedback intercept
 - In the roadmap, adding the self service on-boarding experience as a key success metric for phase 2 scale up

Moving this to blocked until we have that mtg!

[2020-09-09 23:36] bboddiger commented on #176
Sounds good.  Thanks!

From: Melissa Braxton <notifications@github.com>
Sent: Wednesday, September 9, 2020 3:29 PM
To: USDAForestService/USFS-timber-permitting <USFS-timber-permitting@noreply.github.com>
Cc: Boddiger, Beth -FS <beth.boddiger@usda.gov>; Mention <mention@noreply.github.com>
Subject: Re: [USDAForestService/USFS-timber-permitting] Revisit roadmap and refine success metrics (#176)

@bb

[2020-09-10 14:56] mgwalker opened #185 "Map data from Open Forest to NRM-TIM"
**Background**

This should follow on from the data flow modeling work in #145. We need to now map the data being collected by Open Forest into the data needed by NRM-TIM and FPFS. All of the relevant information appears to be in the comments on #145, so that seems like a good place to start from!

**Acceptance criteria**
- [x] We know which Open Forest fields go to NRM-TIM and what they are calle

[2020-09-10 16:06] tram commented on #33
That's super helpful to better understand why we wouldn't want to use a truncated SSN, @JonathanLerner54. Thanks! Some good news is—at least in Washington state's Department of Licensing—it looks like the move to [REAL ID](https://www.dhs.gov/real-id) has done away with the old formulation that used any PII. From [https://www.wsiada.com/item/drivers-license-numbering-changes](https://www.wsiada.co

[2020-09-10 16:14] aQuib commented on #181
Removed 'Manual accessibility testing' since it should be performed on the PDF generated by the system which is apart of the development/engineering requirements for #184

[2020-09-10 16:25] MelissaBraxton commented on #142
@annepetersen  - Can you provide an update on this?

[2020-09-10 16:55] MelissaBraxton commented on #84
Moving this to blocked pending feedback from Deb. @aQuib and @csstarling  - consider following up with Deb if you haven't heard anything by Monday, 9/14? @bboddiger - It may also be worth mentioning during your weekly privacy mtg w/ Deb to make sure it's on her radar.

[2020-09-10 21:13] MelissaBraxton commented on #168
@smahmudFS - Thanks so much for sharing the write up! It's really helpful to have it all laid out--and the write up is nice to look at too!

There are some fundamental differences between what's laid out in the doc and what has been discussed for firewood that maybe we can clear up pretty quickly.

1. There has been no talk of **removing** Login.gov from Open Forest. In my view, it absolutely shou

[2020-09-10 22:41] aQuib commented on #33
@tram - That sounds accurate from my understanding.

[2020-09-10 23:26] bboddiger commented on #33
Agreed, that sounds correct, Mark

From: aQuib Sylvester <notifications@github.com>
Sent: Thursday, September 10, 2020 4:42 PM
To: USDAForestService/USFS-timber-permitting <USFS-timber-permitting@noreply.github.com>
Cc: Boddiger, Beth -FS <beth.boddiger@usda.gov>; Mention <mention@noreply.github.com>
Subject: Re: [USDAForestService/USFS-timber-permitting] Spike: Research policy issues re: required

[2020-09-11 01:56] bboddiger commented on #168
Attaching write-up from eng/security regarding login.gov use:  [https://app.zenhub.com/files/214296595/af65909d-217d-46de-b7ac-52bbb59728e0/download](https://app.zenhub.com/files/214296595/af65909d-217d-46de-b7ac-52bbb59728e0/download)

[2020-09-11 15:58] carlsonem commented on #168
@bboddiger @zchaudhry is there any additional information you need to make a decision if we are using login.gov as part of the MVP? Let me know if we need a meeting of the minds (not mine :) ) so we can move this part of the application forward. Thanks!

[2020-09-11 16:02] carlsonem commented on #158
@briandavidson I think this is the main task you are currently working on. If so, please move it to in progress. As Mike and I discussed, this is very similar to what was done with Huckleberry permitting, please coordinate with Ishan so understand that proven approach that we can hopefully adopt for this application. This is the main development task this sprint, so want to get it moving so we get

[2020-09-14 05:39] briandavidson commented on #153
Moving this over to blocked until we hear back from (qa.)pay.gov

[2020-09-14 14:12] jstrothman commented on #120
@csstarling This looks good: ready to move forward.

[2020-09-14 14:23] jstrothman commented on #152
@Dmac26 @mtlaney
Thank you for removing the Christmas Trees language.

However, I'm no longer able to successfully submit the form. Should I create a separate issue for this?
1. Visit https://open-forest-dev.app.cloud.gov/firewood/forests/conf/buy
2. Complete step 1 form, including checking the box for terms and submit the form
3. On step 2, check the terms checkbox and click 'Continue to Checkout

[2020-09-14 14:25] jstrothman commented on #152
@aQuib Do we have an error message display at the top of the page when someone has an error in a submission, or do they need to scroll to discover if there's an error in their work?

[2020-09-14 14:26] jstrothman commented on #131
@csstarling Looks good: ready to move forward.

[2020-09-14 15:52] MelissaBraxton commented on #130
The only task that needs to be checked is confirming that forest POC has access to staging. I think this can move to "Ready for Master," @csstarling and @mmnilius.

[2020-09-14 16:40] bboddiger commented on #168
The one question that needs to be answered is whether or not this will affect the ATO.  Is there someone who can give a thumbs up or down on that?  That is the one thing we cannot affect—I don’t feel comfortable accepting it as a risk without knowing for sure, or even what sort of odds we’re facing.

From: Melissa Braxton <notifications@github.com>
Sent: Thursday, September 10, 2020 3:14 PM
To: US

[2020-09-14 17:15] MelissaBraxton commented on #149
Looks like the acceptance criteria still need to be checked, @csstarling and @mmnilius?

[2020-09-14 17:40] bboddiger commented on #159
closing, indeed a duplicate of #158

[2020-09-14 17:40] #159 closed, assigned to nobody

[2020-09-14 17:47] bboddiger commented on #158
@carlsonem @briandavidson @mtlaney Closed #159 but added a couple extra criteria from 159 to #158.

[2020-09-14 18:30] carlsonem commented on #163
@Dmac26 has this one been completed?

[2020-09-15 21:18] MelissaBraxton commented on #168
@smahmudFS and @mwreiss  - Can you confirm that we are on the same page wrt to not touching how login.gov is currently implemented in Login.gov for firewood permitting? I'm still not following how building out the firewood permitting module in the same vein as we did Christmas trees would jeopardize the ATO. Maybe the doc you shared during the engineering sync today would help, @smahmudFS?

[2020-09-16 04:01] mtlaney opened #186 "Create DB Migration and add state fips code to seeder"
## Notes
* We need to create a database migration file to add the state_fips column and data to the forests.js seeder file. This will allow Open Forest to send FIPS information to FPFS and NRM*

## Acceptance Criteria
- [x] Migration is created
- [x] Seeder has been updated
- [x] Forests columns in model and controller have been updated
- [x] We are able to see state_fips on curl or swagger

## Ta

[2020-09-16 15:45] bboddiger opened #187 "As a FS staffer, I would like to manage feedback submitted on Open Forest so that can engage with customers."
**Background**
There is a need for customers to submit feedback to Open Forest/Forest Service outside of the help process.

**Acceptance criteria**
- [ ] A member of the public is able to provide feedback within the Open Forest platform
- [ ] Appropriate FS staff is able to easily review feedback provided by the public
- [ ] Appropriate FS staff is able to track feedback provided by the public

**

[2020-09-16 15:46] bboddiger commented on #187
@carlsonem @MelissaBraxton @tram This is placeholder for now.  All details still need to be filled in.

[2020-09-16 20:21] briandavidson commented on #158
@carlsonem @mtlaney @aQuib -- not sure who to direct this question towards, so any clarity on this would be appreciated:

I'm making good progress on the PDF functionality, but I'm unclear where exactly this is supposed to be in the application. I'm guessing on the Order Confirmation page? Do we want a button or something that allows the user to save the PDF?

[2020-09-16 20:23] carlsonem commented on #158
My understanding is that this would generate a PDF file that a user can print. The PDF will need to be included in the email that gets sent to the user, I'm unaware if there is also a way for printing it directly from the confirmation page.

[2020-09-16 20:32] aQuib commented on #158
@briandavidson - The PDF will need to be available for print at the confirmation page via a 'print now' button (which relates to #140) and it will need to be attached to the confirmation email (which relates to #143). The [data flow diagram](https://whimsical.com/Em3ENhBhJS8Eui8EaxvooA) shows when the permit PDF should be available in the workflow as well.

[2020-09-16 20:36] briandavidson commented on #158
Perfect, thanks @aQuib and thanks @carlsonem for the quick responses, appreciate it!

Also @carlsonem, I don't think it'll be too much trouble but just a heads up that it might take a little longer than I initially expected to complete the issue but I'm still shooting for Friday - I didn't realize this would cover the email functionality as well.

[2020-09-16 20:58] briandavidson commented on #158
@carlsonem @aQuib @MelissaBraxton (again not entirely sure who to direct this to) -- I think this issue is a good example of where we could potentially tighten up our workflow.

Basically, the point of this issue is:
- email a PDF version of the filled out permit to the purchaser after they complete their purchase
- add a "Print Now" button to the Order Confirmation page that prompts the user to p

[2020-09-16 21:15] carlsonem commented on #158
Thanks for the feedback.

We tried to break down the tasks into smaller chunks, so really this specific issue was focused only on generating the actual PDF file. The email part is issue #143....which is also part of this sprint, so if you can get both done by the end of this sprint, that would be great.

[2020-09-16 22:48] MelissaBraxton commented on #158
This is good feedback! We should def talk about this during the retro. I think we've gotten a lot better at engaging during bi-weekly backlog grooming meetings and that folks are contributing sufficiently specifying the work so that everyone is on the same page re: what it will entail, and what is needed, but there's is clearly room for improvement!

[2020-09-17 18:07] MelissaBraxton commented on #173
Apologies! I didn't see this while I was out. @mgwalker has it right!

[2020-09-17 18:11] jstrothman commented on #113
@Dmac26 I see this is ready for review, and the validation is working.
Currently, we show the minimum, but not the maximum number of cords for the forest, so it's easy to put in too many and find out the constraints after input.

Can we change the language to:
**Number of cords ***
Cost: $5 per cord
You can get between 4 - 12 cords
[Input field]
**Total cost for firewood permit**

with an error me

[2020-09-17 18:20] jstrothman commented on #109
@aQuib @Rebekah-Hernandez There's still a question here about the width of the content:
Could you review whether you'd like any changes to the width of the content on pages 1 & 2 on staging? (e.g. the brown intro block is full-width and the form fields are the same width as the page 2 rules box--perhaps fine, but not a match for the wireframes so your direction would be helpful.)

[2020-09-17 18:30] aQuib commented on #143
Sample of email body copy:

[2020-09-17 21:44] MelissaBraxton opened #188 "MVP pilot plan - detailed"
**Background**
Now that we are closer to the pilot release date, we need a detailed pilot plan.
**Acceptance criteria**
- [ ] The team understands what the pilot will entail including when it run, for how long, major milestones, and how we will measure success
- [x] The pilot plan accounts for rolling out the MVP in R1 and R2 forests
- [x] Pilot plan is updated in the wiki

**Tasks**
- [X] Run pil

[2020-09-17 22:52] csstarling commented on #149
@aQuib, @mtlaney, Forest POC found an error. They responded to me in e-mail "This looks ok to me though they have our address wrong.  It’s : Washakie Ranger District, 333 E. Main Street, Lander WY  82520"

[2020-09-17 22:57] csstarling commented on #127
@aQuib , @mtlaney , Forest POC commented to me that the following information should not be on forest information page:

- Firewood cutting or removal is prohibited in the Coram Experimental Forest, and on or adjacent to the following roads:
  Westside Hungry Horse Reservoir Rd #895 from the intersection of Hwy 2 to Lid Creek Campground, Tally Lake Rd #913
  (entire length), and Sheppard Creek Rd

[2020-09-18 15:37] mgwalker opened #189 "Update 3rd-party contact info"
Having a list of 3rd-party contacts is useful for long-term sustainability, so nobody has to just remember who to call or email. Currently that information is in the [Open Forest wiki](https://github.com/USDAForestService/fs-open-forest/wiki/Third-party-service-contacts).

It looks like most of the information is current and accurate but some observations:
- Is the NRM-SUDS integration still activ

[2020-09-18 15:45] mwreiss commented on #189
@mgwalker SUDS is still active, that handles all the MBS special uses permits.

NRM-TIM  -- NRM Contact Ming  OF contact Shadat, Matt

FPFS -- Percy Lazarous   percy.lazarous@usda.gov  OF contact Shadat, Matt

[2020-09-18 15:53] mgwalker commented on #189
That was really fast turnaround. Alrighty then. This one's done. 😆

[2020-09-18 15:53] #189 closed, assigned to mgwalker

[2020-09-18 17:14] Rebekah-Hernandez commented on #177
@Dmac26 please check the documents at this link when you have a chance https://usfs.app.box.com/folder/122061423039

[2020-09-18 17:17] Dmac26 commented on #177
@Rebekah-Hernandez - https://usfs.app.box.com/folder/122674592862

[2020-09-18 17:24] Rebekah-Hernandez commented on #177
Issue Escalation:
- Create issue card based on correct template for the issue
- Assign the correct members to the issue based on what type of issue and @ in a comment
- Reach out to the assignees in Teams so they know what is expected
- For front end issues, reach out to Dylan first, then Brian or Mike
- For back end/server issues, reach out to Abdul first, then Jon, Matt or Shadat
- If a high lev

[2020-09-18 17:41] Rebekah-Hernandez commented on #177
[Issue card 1461](https://github.com/USDAForestService/fs-open-forest-platform/issues/1461) has been created for the wiki follow up to this issue

[2020-09-18 18:51] aQuib commented on #143
We plan to present the issue to Privacy Office to get the okay.

cc @JonathanLerner54

[2020-09-21 15:24] MelissaBraxton commented on #158
Clarified in the background that this issue is about generating the permit pdf.

[2020-09-21 15:31] MelissaBraxton commented on #140
Added a few tasks and definition of done. @bboddiger and @csstarling  - I'm not sure about the history of the second acceptance criteria we have on folks being able to return to the url to print at a later date. Possible issue with this is that we'd need to have their permit (and associated information) saved so that we/they could recall it, which may not be possible.

[2020-09-21 15:41] MelissaBraxton commented on #141
@csstarling and @bboddiger - Similar to Q on #140 about whether we need folks to be able to return to print from the url, since it would require permits containing PII (given that the current direction is to include address infor) to be saved in the system.

[2020-09-21 15:52] jstrothman commented on #158
@briandavidson Would you like to schedule a session to walk through manual pdf accessibility testing? I realize you're not at the point of testing yet, and I'm not sure how much background you already have in how people use pdfs with assistive technology (e.g. keyboard navigation, screen readers), or what's technically needed to auto-generate an accessible pdf. Here are some [resources on creating

[2020-09-21 16:25] MelissaBraxton commented on #33
It sounds like we have resolution on the ID# issue and we're going with truncated driver's license #.

Coming back to this, since it impacts acceptance criteria on #141 and #140 . The remaining issue is whether we auto-populate permittee address information on the permit. I know we have a call with cyber on Thursday to go over it, but I thought it might be helpful to lay out some of the tradeoffs

[2020-09-21 18:31] carlsonem commented on #136
@aQuib please refine

[2020-09-21 18:49] mgwalker commented on #41
I got this demo a while back.

[2020-09-21 18:49] #41 closed

[2020-09-22 03:07] mtlaney opened #190 "Add Region Name and Forest Code to Firewood Forests DB"
## Notes
* We need to add region name and forest code to firewood forests db in order to work with NRM / FPFS, FS-2400 Forms*

## Acceptance Criteria
- [x] Region Name is added
- [x] Forest Code is added
- [x] Both can be seen locally on swagger

## Tasks
- [x] Add Forest Code and Region Name migration
- [x] Add Forest Code and Region Name to seeder file
- [x] Add Forest Code and Region Name to Ge

[2020-09-22 15:44] aQuib commented on #109
@Dmac26 - Please expand the width of the page column to utilize full page (like other pages). See mockup:
<img width="1530" alt="fix width" src="https://user-images.githubusercontent.com/2117062/93905494-07efbf00-fcc9-11ea-8d71-ac26b105d76d.png">

[2020-09-22 17:14] jstrothman commented on #136
@aQuib I added background based on the pilot planning session with Beth. Could you review for changes needed and add tasks/acceptance criteria?

[2020-09-22 18:00] carlsonem commented on #158
@briandavidson what is the status on this issue? Thanks

[2020-09-23 14:49] mtlaney opened #191 "Create forest districts and district code in firewood database"
## Notes
* We will need to utilize forest districts and district codes within open forest to transmit data to NRM and FS-2400*

## Acceptance Criteria
- [x] Forest Districts have been added
- [x] District codes have been added

## Tasks
- [x] Add District and District Codes to migration
- [x] Add District and District Codes to seeder file
- [x] Add District and District Codes to controller
- [x] A

[2020-09-23 14:50] mtlaney commented on #191
[active_district_proclaimed_units_in_TIM.xlsx](https://github.com/USDAForestService/USFS-timber-permitting/files/5268937/active_district_proclaimed_units_in_TIM.xlsx)

[2020-09-23 14:50] mtlaney commented on #191
[active_districts_in_TIM.xlsx](https://github.com/USDAForestService/USFS-timber-permitting/files/5268941/active_districts_in_TIM.xlsx)

[2020-09-23 15:03] Rebekah-Hernandez commented on #181
Here is the updated load tags. I am currently looking into which forests will need different ones based on location.
[Load Tag v3.pdf](https://github.com/USDAForestService/USFS-timber-permitting/files/5269024/Load.Tag.v3.pdf)

[2020-09-23 15:04] Rebekah-Hernandez commented on #181
@aQuib I moved this into validation, but I'm not sure about marking off the Definitions of Done

[2020-09-23 17:23] mtlaney opened #192 "Angular Upgrade"
## Notes
* Angular security for this version ends on November 8th 2020. Prior to MVP release we should upgrade to Angular Version 9 or even 10 if it's released in LTS *

## Acceptance Criteria
- [ ] Angular is upgraded to Version 9 or 10 with LTS
- [ ] All core functions of the application continue to work

## Tasks
- [ ] Upgrade Angular sequentially to version 9 or even 10 depending on LTS releas

[2020-09-23 17:26] briandavidson commented on #158
It looks like most of the information you linked regards things to take into consideration when designing the PDF. I'm not actually creating any new design for the PDF, I'm just recreating [this PDF version of the permit that already exists](https://www.fs.fed.us/servicefirst/docs/tb-admin-permits-multi-agency-special-forest-prod-permit-form-fs-2400-1-blm-5450-24.pdf) with some of the fields pre-f

[2020-09-23 17:27] mtlaney opened #193 "Investigate and solve pay.gov error"
## Notes
* Currently pay.gov on staging and production is error'ing out. The cause of the error is mostly unknown. Pay.gov team did give us one line output of **Caused by: java.lang.IllegalArgumentException: Header:Location Cannot contain CRLF Charcters** *

## Acceptance Criteria
- [x] pay.gov error is found
- [x] error is corrected and work is logged
- [x] test fix on staging and qa.pay.gov

##

[2020-09-23 17:29] briandavidson commented on #158
@carlsonem I've finished recreating the PDF, just waiting on the issues with dev/staging environments to get resolved so that I can push it up and test it.

[2020-09-23 18:28] mwreiss commented on #185
Data mapping for NRM-TIM is in good shape.  FPFS will still need attention.  Since this is a pretty big issue and will take some time to go through the FPFS mapping, do you want to split the NRM-TIM and FPFS efforts up into 2 bite size issues @mgwalker .  Both will need to go through the same process.  Just a thought, thanks!

[2020-09-23 19:00] bboddiger commented on #185
That is probably a good idea, I would support that.

From: Matt Reiss <notifications@github.com>
Sent: Wednesday, September 23, 2020 12:29 PM
To: USDAForestService/USFS-timber-permitting <USFS-timber-permitting@noreply.github.com>
Cc: Boddiger, Beth -FS <beth.boddiger@usda.gov>; Assign <assign@noreply.github.com>
Subject: Re: [USDAForestService/USFS-timber-permitting] Map data from Open Forest to

[2020-09-23 19:19] JonathanLerner54 commented on #143
Privacy Office Meeting Update:  We met with Cynthia Townes and she asked of we can encrypt the form.   As a conter offer, I asked her if we can add a pop notice that informs the requester that low level PII is included in the form that will be emailed to them and they have to opt-in.  She is asking her supervisor to weigh-in on this.

In the meantime, can we look at using the last 4 of Driver's Li

[2020-09-23 20:59] MelissaBraxton commented on #143
Thanks for the update, @JonathanLerner54!

@bboddiger - This looks like it covers one of the Qs on your list for tomorrow's meeting with privacy/cyber.

[2020-09-24 16:15] Dmac26 opened #194 "As a forests Admin I'd like the "Tagging your load" section of each forest's page correctly updated to reflect current standards"
## Notes

New language needs to be added to the "Tagging your load" section of each forest's page in order to ensure that each permittee complies with the load tagging standards and displays their tag properly.

## Tasks
- [x] Add the updated language for load tagging to each forest
- [x] Update Hiawatha's price per cord info
- [x] Update side-bar to say "How to Gather"
- [ ] PO approved

**Defini

[2020-09-24 20:36] aQuib commented on #33
Finding is [documented here](https://github.com/USDAForestService/USFS-timber-permitting/wiki/Topline:-Require-Permit-Information-For-Permittee)

[2020-09-24 20:54] aQuib commented on #143
We received permission from the Privacy Office to email permit with the caveat that a mandatory opt-in notification is presented to users about PII.

cc @JonathanLerner54

[2020-09-25 13:52] mwreiss opened #195 "Map data from Open Forest to FPFS"
**Background**

This should follow on from the data flow modeling work in #145. We need to now map the data being collected by Open Forest into the data needed by NRM-TIM and FPFS. All of the relevant information appears to be in the comments on #145, so that seems like a good place to start from!  Reference #185 for the TIM mapping

**Acceptance criteria**
- [x] We know which Open Forest fields g

[2020-09-25 13:53] mwreiss commented on #195
@mgwalker @bboddiger I created a new issue to split out FPFS mapping.  #185 is the TIM mapping.

[2020-09-25 13:55] mwreiss commented on #185
@smahmudFS when we have the final draft for TIM data mapping, lets post and close this issue out.  TY!

[2020-09-25 13:58] bboddiger commented on #185
Thank you!  Is it possible to also rename this issue so it reflects just the NRM/TIM side in the title?

From: Matt Reiss <notifications@github.com>
Sent: Friday, September 25, 2020 7:56 AM
To: USDAForestService/USFS-timber-permitting <USFS-timber-permitting@noreply.github.com>
Cc: Boddiger, Beth -FS <beth.boddiger@usda.gov>; Assign <assign@noreply.github.com>
Subject: Re: [USDAForestService/USFS-

[2020-09-25 14:00] mwreiss commented on #185
@bboddiger it should be updated now.  Thank you!

[2020-09-28 15:04] Rebekah-Hernandez commented on #177
@bboddiger This one is ready to be validated. If you click on these two links and check all of the content there, we should be good to go! Thanks!
- https://usfs.app.box.com/folder/122674592862
- https://usfs.app.box.com/folder/122061423039

[2020-09-28 15:13] MelissaBraxton commented on #173
Also take a look at https://github.com/USDAForestService/fs-open-forest-platform
Some of the instructions there (e.g. building the site locally) may be out of date.

[2020-09-28 17:34] csstarling opened #196 "MVP Data Storage"

[2020-09-28 17:43] csstarling opened #197 "MVP Data Storage"
**Background**

While SORN is being developed, research storage location for PII related to MVP.

**Acceptance criteria**
- [x] Know where we can store PII
- [x] Trade off's are documented and understood
- [x] Make a determination of where the data will be stored
- [x] Ensure users requiring access to data is able to access the data

**Tasks**
- [x] Document trade off's for data storage options
-

[2020-09-28 17:43] csstarling commented on #196
Created by mistake

[2020-09-28 17:43] #196 closed, assigned to nobody

[2020-09-28 18:25] #168 closed, assigned to zchaudhry, bboddiger

[2020-09-28 18:25] carlsonem commented on #168
OBE by issue #110

[2020-09-28 18:31] carlsonem commented on #134
Split into separate issues

[2020-09-28 18:31] #134 closed

[2020-09-28 18:34] carlsonem commented on #151
Split into other issues

[2020-09-28 18:47] carlsonem opened #198 "Determine if MVP requires a user to select a district"
**Background**
_What should we consider when addressing this issue?_

**Acceptance criteria**
- [x] A determination is made if a user is required to select a district

**Tasks**
- [x] Get confirmation from pilot forest if they require district information for MVP

[2020-09-28 18:54] aQuib commented on #198
The list of pilot forests who provided one district and ranger for permit is [located here](https://usfs.app.box.com/file/691120582904?s=gg2l4dbaky7jj07wb9zzc0jiyo23nf0y) (see excel sheet 'FS2400-1 Districts').

[2020-09-28 20:01] aQuib commented on #181
We intend to use only pattern for the MVP, and three patterns for phase two of the application.

[2020-09-29 15:28] jstrothman commented on #158
Hi @briandavidson ~ The PDF of the permit needs to meet Section 508 standards so that people can understand the information in the form regardless of how they access PDFs, such as with a screen reader. For example, is the information read in the correct order. The PDF needs to be accessible even if we're recreating a PDF that was not previously accessible. This is why we have manual accessibility

[2020-09-29 16:31] jstrothman opened #199 "As a team member, I can learn about how design research is integrated into agile sprints"
**Tasks**
In the [Open Forest wiki How we Work](https://github.com/USDAForestService/fs-open-forest/wiki/How-we-work) section, briefly describe how the team integrates design research into agile sprints, including information like:
- [x] Design hypothesis work sessions: what they are, who participates
- [x] Cadence of research (how frequently? once/sprint? semi-monthly?)
- [x] How we source partic

[2020-09-29 17:20] briandavidson commented on #158
Hi @jstrothman - I did take a look at the resources and most of them seem to pertain to Adobe tools:
![image](https://user-images.githubusercontent.com/5187168/94590137-3b47c600-0254-11eb-8fbd-a2a23b6037e2.png)

We aren't using Adobe, we're using Puppeteer. Here is a link to the Puppeteer API for generating a PDF if you'd like to see what sort of configuration options are available: https://github

[2020-09-29 21:25] MelissaBraxton commented on #136
Let's revise the title and tasks a bit to hone in on the program need to track pilot success metrics. We have #151 to cover any front end reporting needs for administrators not met by existing systems. @jstrothman

[2020-09-29 21:32] MelissaBraxton commented on #151
Heads up @carlsonem - In chatting with @bboddiger, we think we may have archived this prematurely. We are reviving this story to make sure we have a way to meet resource managers reporting needs. The mapping issues cover back end data flow, but not the front end process for USFS staff accessing it.  @bboddiger and @csstarling  will prioritize this one.

[2020-09-29 21:58] MelissaBraxton opened #200 "As a frontliner, I need a way to check how much wood a customer may have already purchased online, so that they don't go over their household limit."
**Background**
This is for frontliners in an office to be able to check if someone has reached their limit (in office and online sales) before they decide to sell them more.

This is a stretch goal for the MVP. Initially prioritized as part of the second major release, but with what we've heard from seom frontliners re: the importance + the work we're already doing to create an MVP permittee data

[2020-09-29 21:59] MelissaBraxton commented on #200
@csstarling  - A Q for you, We have this acceptance criteria: _Frontliner is able to check combined purchases (online and in office) for a specific customer/or address?_

Can you conform whether its important to look up by customer or address?

[2020-09-30 12:23] jstrothman commented on #158
@briandavidson You're right about the accessibility testing being a task rather than acceptance criteria--I misread. @aQuib and I also recently spoke about where/when that should happen, so we should clarify. It sounds like it may also be helpful if Section 508 compliance is mentioned as acceptance criteria in all issues where it applies (i.e. anything user-facing whether that's the public or USFS

[2020-09-30 15:21] csstarling commented on #200
@MelissaBraxton , Currently in TIM you can do both. It's dependent on why the information is being searched. Typically a frontliner searches using customer name or ID# for the purpose of issuing a permit. If the frontliner is checking household limits they might search the address to see how many permits have been issued to that address (household).

[2020-09-30 17:57] aQuib commented on #143
Here is the mockup for the [Confirmaiton Email.pdf](https://github.com/USDAForestService/USFS-timber-permitting/files/5307400/Confirmaiton.Email.Mockup.pdf)

Here is the template of the email confirmation content (plain text format):

[2020-09-30 18:40] aQuib commented on #198
All pilot forests has agreed to provide one district and one FS ranger for the FS2400-1 except for Chattahoochee-Oconee (still awaiting feedback).

However, _George-Washington Jefferson NF_ would like to use the supervisor office as the district (which is not listed in TIM). @bboddiger - Would this be problematic for NRM reporting?

cc. @smahmudFS @mwreiss

[2020-09-30 19:12] bboddiger commented on #198
This needs to be a district code/name for sending to FPFS and assigning a proclaimed unit, so the Supervisors office won’t work.  Let’s regroup on this and think about the path forward a little bit.  As subbing in for product owner, I need to get caught up on what decision making process has been to this point.  Let’s talk.

Thanks,
beth

From: aQuib Sylvester <notifications@github.com>
Sent: Wedn

[2020-09-30 23:29] bboddiger commented on #177
@Rebekah-Hernandez  I do not seem to have access to the box folder/documents:
https://usfs.app.box.com/folder/122674592862
https://usfs.app.box.com/folder/122061423039

Do you know who has owner access and can check to see if I've been given access in Pinyon/Box?
Sorry for the extra work.
Thanks!

[2020-10-01 14:04] Dmac26 commented on #177
@bboddiger - Hey Beth, Rebekah asked me to take a look at this. It seems we can't even give you access. I'm thinking we're going to have to talk to @carlsonem

Eric - Beth is needing access to our customer service documentation on Pinyon so she can review. Can you help with that?

https://usfs.app.box.com/folder/122674592862
https://usfs.app.box.com/folder/122061423039

[2020-10-01 15:23] jstrothman commented on #158
@briandavidson I sent an email with possible times for a quick chat. Ideally part of development is identifying approach to making the web content accessible and testing it as part of development, with a second pass of testing as part of overall acceptance testing.

[2020-10-01 18:56] Rebekah-Hernandez commented on #177
Thanks @Dmac26 for tagging for me
@bboddiger I apologize, I was unable to access Chrome this morning to help you myself. Once you check over, you can ping me and I'll start getting everything moved to the wiki. Thanks!

[2020-10-01 19:49] jstrothman commented on #183
@Dmac26 This appears to be fixed on dev!

[2020-10-01 22:23] Dmac26 commented on #183
@jstrothman - Awesome! We'll check it off then.

[2020-10-02 13:44] jstrothman opened #201 "As a reader of the Open Forest wiki, I can see up-to-date manual accessibility processes, so I understand the approach being used to ensure accessibility"
Tasks:
- [ ] Review https://github.com/USDAForestService/fs-open-forest/wiki/Manual-accessibility-testing-process for accuracy/current information
- [ ] Consider explicit mention of the need for PDF accessibility testing
- [ ] Make adjustments to current process as needed
- [ ] Make adjustments to wiki page if needed

[2020-10-05 14:56] jstrothman opened #202 "Choose your forest select input is empty on dev"
**Background**
On the site landing page on dev, the "Choose your forest pick-list" is empty.

1. Go to https://open-forest-dev.app.cloud.gov/
2. Click on the select input arrow under "Choose your forest (required)"
Result -> "Select a forest" appears in light gray text and no forest names are listed
Expected -> The drop-down would contain the list of pilot forests

![Screen Shot 2020-10-05 at 10.5

[2020-10-05 15:14] MelissaBraxton opened #203 "Write up topline on pilot learnings to date"
**Background**
We want to write up a topline report summarizing what we've learned through the pilot so far, to the end of informing additional modernization efforts.

**Acceptance criteria**
- [x] We've externalized our learnings to date
- [x] Topline is understandable in an easily shareable format

**Tasks**
- [x] Draft topline
- [x] Share with Beth for review
- [x] Address any feedback
- [x] Sh

[2020-10-05 15:24] Rebekah-Hernandez commented on #201
@jstrothman After reviewing, our current process is not included on this wiki page. We might need to have a meeting to discuss. I sent you an email with more details. :)

Please include @Dmac26 as well since he's been working with Brian on the pdf manual testing.

[2020-10-05 15:29] jstrothman opened #204 "Training for USFS product folks re PRs and prevention of future regressions"
**Background**
18F delivers coaching to USFS product folks regarding how to ask the team about PRs to ensure bugs are captured by new tests to prevent future regression

**Acceptance criteria**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

**Definition of done**
- [ ]
- [ ]

[2020-10-05 17:18] jstrothman commented on #143
@aQuib During 10/5 sprint review, we discussed possibility of having maps attached when available and David asked if there are limitations related to maps. (e.g. many email servers have a 10mb size limit)

[2020-10-05 18:04] MelissaBraxton commented on #72
Moving to blocked until we have a new PO.

[2020-10-05 18:38] carlsonem commented on #110
For the Ironwood Sprint, expect to only achieve the design aspect of this specific card.

[2020-10-05 18:44] carlsonem opened #205 "Development: Implement Login.gov"
**Background**
_What should we consider when addressing this issue?_

**Acceptance criteria**
- [ ] A member of the public can login to the Open Forest system via. login.gov
- [ ] After a member pf the public login to login.gov, the user is redirect back to Open Forest

**Tasks**
- [ ] Develop code to connect the button from the Open Forest platform directs a user to login.gov
- [ ] Integrate logi

[2020-10-05 19:57] aQuib commented on #143
@jstrothman - Indeed, I have documented it as a followup item. The maps can still be included via hyperlinks (with some language modifications) which should avoid any email server attachment size limitations and reducing would also reduce the number of files needed to be attached in the confirmation email. We need to discuss with the dev team about the feasibility and assess the actual file size r

[2020-10-06 17:16] MelissaBraxton commented on #188
@bboddiger  - This is ready for you to approve! https://github.com/USDAForestService/USFS-timber-permitting/wiki/MVP-pilot-plan

Once you approve, we can socialize with the team and check the remaining boxes.

[2020-10-06 17:19] MelissaBraxton commented on #142
@annepetersen - It looks like there are a few tasks remaining--should be a light lift. Can you close this out this week?

[2020-10-06 17:22] MelissaBraxton commented on #180
Revising since the acceptance criteria were redundant with #142.

[2020-10-06 18:03] jstrothman commented on #149
@Dmac26 This one is in 'Ready for master' but has a text change that still needs to be made, per @csstarling [feedback from Shoshone NF POC](https://github.com/USDAForestService/USFS-timber-permitting/issues/149#issuecomment-694541859).

Would you prefer moving this back to 'Ready' or 'In progress' (or make a new issue)?

[2020-10-06 19:12] #164 closed, assigned to MelissaBraxton

[2020-10-06 22:13] MelissaBraxton commented on #156
@aQuib and @carlsonem  - Heads up that Beth and I revised this one quite a bit based on what she learned in a recent meeting with FPFS folks about proclaimed units.  This may need to be reestimated, and we may think about breaking it down since it may be more than can be done in one sprint.

[2020-10-06 22:18] MelissaBraxton commented on #77
@bboddiger to extend invite to new Product Owner.

[2020-10-07 16:09] Rebekah-Hernandez commented on #184
Assets for the instruction page of the load tag:
[Load Tag Assets.zip](https://github.com/USDAForestService/USFS-timber-permitting/files/5342102/Load.Tag.Assets.zip)

[2020-10-08 18:08] aQuib commented on #198
The decision was made for user to select district. All details and requires associate with that selection is document in #156

[2020-10-09 02:13] bboddiger commented on #77
Product owner fill may be delayed so invite was not extended, but call scheduled for OF team.

[2020-10-09 02:16] bboddiger commented on #198
There may be more than one district provided for forests that contain more than one proclaimed unit within their boundaries.  Details found in #156

[2020-10-13 16:30] MelissaBraxton commented on #120
@abdul-fs  - Can you please take a look and check whether this meets the technical def of done?

[2020-10-13 18:20] carlsonem commented on #205
Review acceptance criteria from #110

[2020-10-13 18:52] abdul-fs commented on #120
@Rebekah-Hernandez @Dmac26 @mwreiss Can you validate this and marked as completed?

[2020-10-13 21:17] MelissaBraxton commented on #140
Hey @aQuib  - It seems like this may be the right issue to cover this under, but in chatting with @bboddiger we'll want to make sure that we have a process in place for tracking user requests for reprints (assoc. with task #2 up above to determine "how to handle handle help desk tickets if a user loses their email confirmation"). Given that timber // firewood is different than Christmas trees, we'

[2020-10-13 21:31] jstrothman commented on #152
@Dmac26 This looks good (Christmas Trees wording is removed)

[2020-10-13 22:11] MelissaBraxton opened #206 "As a frontliner, I need documentation on how to use the system and how to troubleshoot issues so that I can help the public with their Qs."
**Background**
This issue covers user documentation for frontliners to help them help members of the public. Frontliners anticipate getting calls from users seeking help and want to have troubleshooting tips handy.

**Acceptance criteria**
- [x] Documentation addresses FAQs about the public's experience
- [x] Documentation is printer friendly and scanable in a printed format
~~- [ ] Pilot forest P

[2020-10-13 22:18] MelissaBraxton opened #207 "As a frontliner, I need documentation on how to use Open Forest admin features // access online permit sales data so that I can troubleshoot issues I run into"
**Background**
This issue covers user documentation for frontliners to help them understand how to access the admin features and/ sales data, how to use the features, and how to trouble shoot issues. This is separate from #206, which is focused on helping frontliners help the public who call or come in w/ Qs.

**Acceptance criteria**
- [ ] Documentation explains how to access and use the system
-

[2020-10-13 22:26] MelissaBraxton opened #208 "As an LEO, I need documentation on how to understand the online permit and tags and how to get online permit sales information so that I can enforce permits sold online."
**Background**
This issue covers user documentation for LEOs. There are two key types of documentation that LEOs will need: (1) How to read the load tags and permits sold online, and (2) how to access and use any admin features.

**Acceptance criteria**
- [ ] Documentation explains how to access and use the system
- [ ] Documentation addresses FAQs about LEO experience, including how to recognize

[2020-10-14 14:12] Rebekah-Hernandez commented on #120
Not sure if I can mark off on all of the definitions of done but it looks correct up on staging. @abdul-fs @mwreiss @Dmac26

[2020-10-14 21:33] aQuib commented on #140
Here is the proposed process for users to print a permit (and supporting documents) after initially purchasing a permit if lost and experience technical issues. This process would require users to print from their email and from the confirmation page after purchase permit and other documents.
![Retriving Lost Permits - 140 (process) v1](https://user-images.githubusercontent.com/2117062/96048812-1a

[2020-10-14 21:36] aQuib commented on #140
Here is the mockup of the Firewood Retrieval Page:
<img width="1081" alt="OF Retrieval Page" src="https://user-images.githubusercontent.com/2117062/96047890-c7a4dc00-0e43-11eb-8865-c1e7ed6fc10c.png">

[2020-10-15 01:47] briandavidson commented on #184
Remaining development on this is blocked until the issues with puppeteer in the pipeline are resolved.

[2020-10-15 01:48] briandavidson commented on #158
Remaining development on this is blocked until the issues with puppeteer in the pipeline are resolved.

[2020-10-15 01:57] briandavidson commented on #141
Hey @carlsonem and @MelissaBraxton - a couple questions on this one.

I'm not clear what we want to do for this task: "Code the application to return to print page at a later date"

Currently the order confirmation page has the button to pop the print preview and as far as I know there is nothing in the application that would guide the user there, they'd have to manually enter the correct URL. If

[2020-10-15 02:00] briandavidson commented on #160
@carlsonem Can I get a confirmation that the gist behind this ticket is to include the "rules and conditions" page along with the other pages that get populated?

[2020-10-15 12:56] carlsonem commented on #141
@briandavidson can confirm with Aquib, but my understanding is that a user would be able to print it from the email they are sent. i.e. No need to log back into the application itself. In short, two wants to print it....

- Immediately from the confirmation screen

- At a later date from the email the user recieves

[2020-10-15 12:58] carlsonem commented on #160
@briandavidson in short, all the rules, both "general" and ones specific to a particular forest need to appear on the permit.

[2020-10-15 16:20] jstrothman commented on #174
skill area heuristics are at: https://github.com/USDAForestService/fs-open-forest/wiki/Skill-area-heuristics

[2020-10-15 20:29] briandavidson commented on #160
@aQuib do we have a mockup or specific design for this, or am I just making it look like it does on the site?

[2020-10-16 19:11] Rebekah-Hernandez commented on #110
Mock and data flow diagram for this story and login.gov process
![To-be Process (MVP Permit Reporting)](https://user-images.githubusercontent.com/56045852/96299290-76b6f400-0fb9-11eb-963c-13095ebc7e22.png)
![mock](https://user-images.githubusercontent.com/56045852/96299294-77e82100-0fb9-11eb-9a89-06872759d105.png)

[2020-10-16 19:58] aQuib commented on #160
@briandavidson - This involves what will be generated on the PDF correct?
[If so, it should like the current FS24001 second page.](https://github.com/USDAForestService/USFS-timber-permitting/files/5394009/Firewood.Permit.02_20_19_2.1.pdf)

[2020-10-19 16:00] MelissaBraxton commented on #142
@annepetersen - any update here?

[2020-10-19 16:02] MelissaBraxton commented on #203
@bboddiger  - When you can, take a look at the topline and share any feedback.

[2020-10-19 17:13] MelissaBraxton commented on #110
Noticing that somehow the design review box was left off this one. Adding that task and tagging in @jstrothman!

[2020-10-19 17:47] jstrothman commented on #113
@Dmac26 Any update on this adjustment to showing the max cords and changing the error message?

[2020-10-19 17:52] jstrothman commented on #127
@mtlaney Any update on this text change request? (This is in 'ready for main', and I'm getting no forest-pick-list in the landing page forest-picker on staging, and also getting 404s when I try to use a page in my browser history, e.g. https://open-forest-staging.app.cloud.gov/firewood/forests/shoshone so can't check there.

[2020-10-19 17:58] jstrothman commented on #109
@Dmac26 It looked from today's demo like this width adjustment still needs to be made.

[2020-10-19 18:14] carlsonem commented on #185
@mtlaney Please create a separate issue(s) for the web services that need to be created

[2020-10-19 18:18] mwreiss commented on #185
@carlsonem data mapping is complete, this can be move to awaiting acceptance.

[2020-10-19 18:18] carlsonem commented on #140
@jstrothman please do a design review on this issue

[2020-10-19 18:23] carlsonem commented on #177
@Rebekah-Hernandez can this be moved over to the approval column

[2020-10-19 18:27] carlsonem commented on #154
@mwreiss please update this card. If duplicate of another issue, please let me know.

[2020-10-19 18:28] carlsonem commented on #160
@briandavidson has this one started? Looks like it's still in the ready column

[2020-10-19 18:47] carlsonem commented on #151
This task is focused on user testing to confirm that the end users are able to find data/transactions as noted above. Will want to conduct user testing. Need to refine tasks to add items such as recruiting testers and such.

[2020-10-19 19:28] Dmac26 commented on #113
@jstrothman - Sorry I missed your comment from earlier. Since this has already been merged up to dev, I'd like to make a new card for this and track there if you don't mind. This should be an easy fix though. I should have a Pull Request in by tomorrow morning.

[2020-10-19 19:39] Dmac26 opened #209 "Minimum/maximum cord display and error message change: As a permit purchaser, I need to have the minim and maximum number for cords I'm allowed to purchase clearly displayed so that I know my limitations before beginning the purchasing process."
**Background**
Users should see a message on the "buy a permit" page that informs them of the range of cords they are allowed to purchase. Additionally, if the use inputs a cord amount that is above or below the set range, they should see an error message that properly informs them of the violation.

Below is an example of the desired language per @jstrothman

![image.png](https://images.zenhubuse

[2020-10-19 20:05] briandavidson commented on #160
@carlsonem this was already done in #158 which is blocked until the issue with puppeteer in the pipeline is resolved. I'll move this to blocked as well for now but perhaps it can just be closed out as a dupe?

[2020-10-19 20:34] mgwalker commented on #173
- [ ] [deployment process documentation](https://github.com/USDAForestService/fs-open-forest/wiki/DevSecOps-Implemented) only discusses dev. We need to also capture what conditions trigger a merge to staging and prod. This relates to the release documentation requirement above.
   - On this point, AFAIK there's not a defined trigger to updating staging and prod, so it might be time to create those

[2020-10-19 20:36] mgwalker commented on #173
@mwreiss Oops, meant to tag you one more time in the last one. For the updated system diagram, do you have anything sitting around already? If not, I can take a crack at recreating it (since I don't have the original).

[2020-10-19 23:38] Dmac26 commented on #209
@MelissaBraxton and @jstrothman - I just wanted to give both of you an update before I head out for the day. I completed the language updates you requested and opened a Pull Request on this issue. It was pretty straightforward so I imagine I should be able to push this up tomorrow morning once one of the other Devs give the PR a thumbs up.

I'm posting the PR below here:

https://github.com/USDAFo

[2020-10-20 00:59] mtlaney commented on #194
tested and looks good on dev

[2020-10-20 00:59] mtlaney commented on #193
appears to be working in staging

[2020-10-20 01:00] mtlaney commented on #163
looks good on dev

[2020-10-20 01:01] mtlaney commented on #169
Calculations appear to be correct on the open forest side. We will need to verify we are sending the right amount to pay.gov

[2020-10-20 01:02] mtlaney commented on #113
Calculations appear to be correct on the open forest side. We will need to verify we are sending the right amount to pay.gov

[2020-10-20 01:15] mtlaney commented on #182
@Dmac26 can you verify this one and check the boxes. My quick check on DEV didn't match up w/ the BOX notes.

Below is IPNF dev vs IPNF box

![Screen Shot 2020-10-19 at 9 08 19 PM](https://user-images.githubusercontent.com/18233188/96528234-24dbcb80-1250-11eb-81f9-5654a027d63f.png)
<img width="615" alt="Screen Shot 2020-10-19 at 9 08 25 PM" src="https://user-images.githubusercontent.com/18233188/9

[2020-10-20 01:16] mtlaney commented on #148
looks g2g

[2020-10-20 01:24] mtlaney opened #210 "Update 404 template to remove internal Christmas trees link and update recreation.gov Christmas trees link so that users are taken to the correct page."
**Background**
Currently our 404 page references a back-link to Christmas trees which needs to be removed since we no longer support the Christmas trees platform. Additionally, the 404 page informs users that if they are looking for the Christmas trees platform, they can find it on recreation.gov. However, the link we currently provide only takes users to the recreation homepage. We should update

[2020-10-20 13:41] Rebekah-Hernandez commented on #177
@carlsonem Yes it can. I moved it to ready for main, not sure if it can go straight to done

[2020-10-20 13:59] Dmac26 commented on #209
@MelissaBraxton and @jstrothman - Alrighty, this has now been merged up to the dev branch. It should be viewable within the next 20-30 min (current time: 9:00AM CST).

[2020-10-20 17:42] Dmac26 commented on #149
@jstrothman - I apologize about missing this comment. I'll make another card here today to circle back and take care of it.

[2020-10-20 17:45] Dmac26 commented on #182
@mtlaney - I will go through and verify today

[2020-10-20 20:56] jstrothman commented on #209
Looks great. Thank you @Dmac26

[2020-10-20 22:10] MelissaBraxton commented on #181
@aQuib - Are there any new issues to address feedback from last week's testing? The first iteration story is complete, but I think you may be working on refinements?  Once we have new issues documenting any refinements, we can move this card to ready for main.

[2020-10-20 22:10] jstrothman commented on #209
@Dmac26 Once this is on staging, could you move it to Awaiting Acceptance and assign it to @bboddiger ?

[2020-10-20 22:11] MelissaBraxton commented on #148
Nvm, @abdul-fs!

[2020-10-20 22:12] jstrothman commented on #140
**Design Review Notes**
Below are some minor requests for design adjustments:

**General capitalization note:**  The [Open Forest design system](https://nciinc.github.io/fs-fork-uswds-site/components/form-controls/#text-input), and thus the firewood permitting, uses **sentence case for page titles, form field labels, and button text** (e.g. initial capitalization only).

1. Change page title to "R

[2020-10-20 22:37] MelissaBraxton opened #211 "Admin interface: Forests need to input and edit information about their forest and the permit for reporting and financial purposes"
**Background**
For the MVP, we've manually added this information to the seeder file for each forest. Beyond the MVP, we want to let forests input and edit that information themselves. This story (which may be more of an epic) covers the design and development of admin interface that lets admins customize their forest's data and permit info. For example, rates, product codes, permit conditions, jo

[2020-10-20 22:40] jstrothman commented on #110
**Current Text:**
"You can buy firewood permits online using login.gov or in-person at one of out district offices.

If you would prefer not to create a Login.gov account, you will need to go to your local district office to purchase a firewood permit."

Change to:
"You can buy firewood permits online or in-person at one of [our district offices](https://open-forest-staging.app.cloud.gov/#prohibit

[2020-10-20 22:43] MelissaBraxton opened #212 "As a pilot forest point of contact or forest resource specialist, I can find out what my forest's data look like in the seeder file so that I can make sure it's correct and request changes as needed"
**Background**
For the MVP, we've manually entered forests data. Forests will want to be able to see what we've entered to make sure it's correct. While we aren't working on an interface that lets them see this until after the MVP (this is issue #211, currently in the icebox), we need a process for making this info available. It could be as simple as exporting a .csv file or downloading and emaili

[2020-10-21 00:53] jstrothman opened #213 "Bug: Forest landing pages display extra words to the right of the 'Buy permit' button: "Print PDFEmail PDF""
**Background**
On forest landing pages, e.g. https://open-forest-staging.app.cloud.gov/firewood/forests/flathead#season-dates
the page displays extra words to the right of the 'Buy permit' button: "Print PDFEmail PDF"

![Screen Shot 2020-10-13 at 5.14.29 PM.png](https://images.zenhubusercontent.com/5f330d1ed55eab42a58f1ec7/72777620-8144-4f5d-8500-64f542cd8e7f)

**Acceptance criteria**
- [ ] The wo

[2020-10-21 13:13] jstrothman commented on #110
@aQuib What do you think about running usability tests on the buy workflow before implementation, including the login steps for create account (perhaps using versions with and without the "Sign in with LOGIN.gov" line above the Buy button)?

[2020-10-21 18:01] Rebekah-Hernandez commented on #201
@jstrothman Were decisions made on this issue for what we wanted to keep in the manual compliance testing from the old documentation?

[2020-10-21 18:09] aQuib commented on #110
@jstrothman - Thank you for the suggestions. I agree with removing the language of "If you would prefer not to create..." since that language can be a discouragement to users. But I am concern that not informing the user about it in any way would confuse new to users and doesn't fulfil the acceptance criteria #2.

Regarding testing, sound like a good idea but I would prefer to test the entire work

[2020-10-21 18:15] Dmac26 commented on #209
@jstrothman - Will do! Thanks for taking a look at it.

[2020-10-21 18:25] Rebekah-Hernandez commented on #143
This looks good on the design (language) for validation.

Do we need to run usability testing on it before it can be moved to awaiting acceptance @aQuib ?

[2020-10-21 18:42] aQuib commented on #140
@jstrothman - Thanks for the recommendations. All were implemented.

[2020-10-21 18:43] aQuib commented on #140
Here is updated mockup.
![Retrieval Page v1.25](https://user-images.githubusercontent.com/2117062/96768503-e5c28d00-13ab-11eb-92c3-5322dc3242a0.png)

[2020-10-21 18:53] aQuib opened #214 "Load Tag Design Enchancement"
**Background**
This issue is about enhancing the [previously designed load tag](https://github.com/USDAForestService/USFS-timber-permitting/issues/181) based on LEOs [usability testing results](https://usfs.app.box.com/file/730934187423)

**Acceptance criteria**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

**Definition of done**
- [ ]
- [ ]

[2020-10-21 18:57] aQuib commented on #181
@MelissaBraxton - Yes, there are refinements based on usability testing results. [I have created an issue for the load tag enhancement](https://github.com/USDAForestService/USFS-timber-permitting/issues/214) which can we refine during our backlog grooming. Moving this issue to 'Ready for Main'

[2020-10-21 20:01] mtlaney opened #215 "Admin Email still contains previous route information"
**Background**
As an admin recieves an email concerning new special-use applications or edited special use applications, the Login and view the application link returns previous routing.

 ![Screen Shot 2020-10-21 at 3.58.14 PM.png](https://images.zenhubusercontent.com/5b8860cc4b5806bc2be51669/f1dacd15-c0ff-4e62-9d2d-9639be6ee1f1)

Current and incorrect routing -/admin/applications/noncommercial/{

[2020-10-21 21:11] Rebekah-Hernandez commented on #110
![mockup](https://user-images.githubusercontent.com/56045852/96787792-faa51d80-13b7-11eb-9458-48761aa3f233.png)

Mockup updated and ready for development

[2020-10-21 22:50] MelissaBraxton commented on #194
Hi @aQuib and @Rebekah-Hernandez (cc @Dmac26):  I have some questions about the load tagging section.

Every forest's load tagging section looks the same. Each forest has a **tagging your load** section that states "Before hauling wood out of the forest, you will need to fill out a load tag and attach it to the back of your vehicle." Then there's a section for **Filling out tags for online permits

[2020-10-22 13:45] Rebekah-Hernandez commented on #194
Thank you for pointing that out @MelissaBraxton . I will change the info on the forest info pages and ask @Dmac26 to update it on the site from there.

[2020-10-22 13:45] jstrothman commented on #201
@Rebekah-Hernandez My understanding is that in your design/dev sync you all will determine your workflow for ensuring accessibility of the website and generated pdfs. Our strong recommendation is that the process includes testing with a screen reader. If you'd like to recommend changes to the process described in the wiki, perhaps those should be presented to the Forest Service team. In any case,

[2020-10-22 14:37] MelissaBraxton commented on #194
Thanks @Rebekah-Hernandez and @Dmac26  - Hold off making changes just yet! I have some other content recommendations on that section. I'll upload suggested revisions to this issue by COB today.

[2020-10-22 16:00] MelissaBraxton commented on #202
@mtlaney I'm still seeing the forest picker as empty on dev. Is the issue going to keep rearing its head as a symptom of how the branches are set up?

[2020-10-22 16:03] MelissaBraxton commented on #120
LGTM! @bboddiger - moving this to ready for main.

[2020-10-22 16:29] Rebekah-Hernandez commented on #110
Sorry, noticed one thing off, here is the mockup

![mockup (1)](https://user-images.githubusercontent.com/56045852/96902200-d7cb4580-1459-11eb-85ac-47a505a18663.png)

[2020-10-22 16:31] jstrothman commented on #110
Great--let's try this, and per discussion do usability testing after implementation because it would be a minor change to adjust the display in this page.

[2020-10-22 16:42] Rebekah-Hernandez commented on #201
@jstrothman What is the name of the screen reader that you recommend and used during the demo?

[2020-10-22 17:15] jstrothman commented on #140
Looks great. I'm not sure whom to assign next.

[2020-10-22 18:02] Dmac26 commented on #182
@mlaney - I double-checked these updates per your request and have made some changes. @Rebekah-Hernandez - If you have a chance would you mind taking a look as well? Should be on Dev

[2020-10-22 23:12] MelissaBraxton commented on #194
@Rebekah-Hernandez and @Dmac26 - Here are suggested edits to the tagging sections:
[Load tagging content edits_MB_10.22.20.docx](https://github.com/USDAForestService/USFS-timber-permitting/files/5426395/Load.tagging.content.edits_MB_10.22.20.docx)

[2020-10-23 15:04] carlsonem commented on #158
@briandavidson did the fix work so we can move all the various issues out of blocked?

[2020-10-23 15:43] mtlaney opened #216 "Fix swagger to read correct https requests"
**Background**
Currently swagger is hitting http with a failed to fetch response, these need to be updated to HTTPS in order to successfully retrieve DB data

**Acceptance criteria**
- [x] http is changed to https
- [x] swagger can successfully display data

**Tasks**
- [x] change swagger scheme to https

**Definition of done**
- [x]  swagger is working in dev and staging
- [ ] PO approved
- [x] C

[2020-10-23 15:51] mtlaney opened #217 "NRM Complete GET 200 Response"
## Notes
* Create an NRM get request at /nrm-service that will allow NRM to retrieve permit data. Once NRM retrieves the data successfully, we need to clear this table so they don't receive duplicative records. NRM Data will also need to be stored in a permanent table separately as to not lose any data. *

## Acceptance Criteria
- [x] NRM is able to successfully retrieve permits from /nrm-service

[2020-10-23 20:18] mtlaney commented on #216
@Dmac26 @briandavidson can you guys test this when you get a chance.

You can hit [https://fs-intake-api-staging.app.cloud.gov/docs/api/#/forests/get_fsforests](url) and execute, you should see the curl as HTTPS and get date back

[2020-10-26 22:54] MelissaBraxton commented on #194
@Dmac26  - Moving this back to ready (but feel free to put it "in progress" if your'e already working on it).

[2020-10-26 22:57] MelissaBraxton commented on #202
LGTM!

[2020-10-28 01:30] bboddiger commented on #180
@annepetersen  @MelissaBraxton @AnnaFargo   Draft communication plan approved, sent back to Anne with one comment.

[2020-10-28 02:50] bboddiger commented on #203
@MelissaBraxton --Emailed back, with some suggestions/comments.

[2020-10-28 14:52] MelissaBraxton commented on #203
Great! I'll address your comments and send a revised version today.

[2020-10-28 15:44] annepetersen commented on #14
@bboddiger - Just checking in to see if you saw this. Thanks!

[2020-10-28 15:51] annepetersen commented on #142
I think we're blocked on "Find out who is leading comms on Forest Products modernization and learn about any possible approval blockers." We don't have a way to anticipate the right framing around pandemic impacts given that we don't know OC's current opinion on the topic.

As an update on the then-last remaining item, both comms plan and engagement plan have some changes that I need to get back t

[2020-10-29 18:29] mgwalker opened #218 "Subscribe to 3rd-party service listservs/notifications"
Some members of the team, including at least one USFS staff, should be subscribed to email lists or notifications for each of the 3rd-party services that Open Forest relies on. This will give the team quick notice in the event of service disruptions or upcoming changes that will impact Open Forest.

- [ ] Pay.gov
- [ ] cloud.gov
- [ ] Login.gov

What else should go here?

cc: @mwreiss @abdul-fs @m

[2020-10-30 19:24] MelissaBraxton commented on #203
Awaiting PM approval on revised draft.

[2020-11-03 21:54] jstrothman opened #219 "As a permit buyer, I need to quickly learn the process for purchasing a permit and gathering wood"
**Background**
The forest landing pages and the 2nd page of the permit purchase workflow have content from each forest, based on starter text. There were some readability improvements to be made, using plain language, and adjusting phrasing based on prior usability reviews, e.g. 'collecting' and 'gathering' instead of 'harvesting'. The attached Word docs have track changes turned on to make sugges

[2020-11-04 21:42] annepetersen commented on #142
Delivered our final versions of both comms plan and stakeholder engagement plan today. (Not _final_ final, but the last we'll be involved with in the current effort.)

[2020-11-04 21:43] annepetersen commented on #180
@bboddiger Revised version back to you, and the document is now yours to own and operate!

[2020-11-09 18:44] carlsonem opened #220 "Make a Determination if GP wants to integrate huckleberry/mushroom free permit into Open Forest platform"
**Background**

Contact the GP forest and make a determination if they would like to incorporate huckleberry/mushroom free permit into Open Forest platform

**Acceptance criteria**
- [ ] A yes/no decision is made on if GP huckleberry/mushroom permits should be added to OF platform

**Tasks**
- [ ] Contact GP and make a determination if GP should be integrated into GP
- [ ] Identify a PO from GP fo

[2020-11-09 18:48] carlsonem opened #221 "Make a discovery plan to determine what permit types are good candidates for the Open Forest platform"
**Background**

To help support executives in the long-term vision of the Open Forest platform, a discovery plan is needed to help evaluate which permit types by the National Forest would be good candidates for the Open Forest platform.

**Acceptance criteria**
- [x] A discovery plan is developed for identifying permits that would be good candidates for the Open Forest platform

**Tasks**
- [x] Id

[2020-11-09 18:52] carlsonem opened #222 "Upgrade OF Platform to latest version of Angular"
**Background**
Upgrade OF Platform to latest version of Angular

**Acceptance criteria**
- [ ] OF platform is upgraded to latest version of Angular

**Tasks**
- [ ] Upgrade OF platform to latest version of Angular
- [ ] Conduct testing to ensure upgrade didn't break any of the existing code

**Definition of done**
- [ ]
- [ ]

[2020-11-11 00:06] briandavidson commented on #141
The work for this was taken care of in #184

[2020-11-16 19:11] carlsonem commented on #140
@briandavidson please confirm this is a duplicate

[2020-11-16 19:15] carlsonem commented on #173
@mwreiss

[2020-11-16 19:17] mwreiss commented on #173
Documentation was addressed and updated during the Q1 security testing.  This is complete

[2020-11-16 21:49] briandavidson commented on #140
Per the acceptance criteria:

- "User has the ability to print permit and rules from external FS computer"
Just to be clear, the user will receive an email that has a `PDF` file attached to it which can be printed. This was taken care of in other issues.

- "Ability to print a computer days after initially purchasing a permit"
I'm going to assume what was meant is the ability to print the `permit`

[2020-11-16 21:49] #140 closed

[2020-11-17 07:08] briandavidson commented on #141
@carlsonem just double checking on this one due to the following task:
`Code the application to return to print page at a later date`

That task remains incomplete. If that's acceptable we can go ahead and close this out since the rest of the work was taken care of in #184 . Otherwise maybe we want to re-open this issue, or create a new one to address that task specifically?

[2020-11-17 18:52] aQuib commented on #199
Updated on wiki

[2020-11-18 14:18] mwreiss commented on #84
I reached out to Deb White for a SORN checklist.  Waiting for a response.

[2020-11-18 14:31] mwreiss commented on #84
Deb is going to ask the privacy officer if their is a SORN checklist, however the last meeting we had it was suggested (by the privacy officer) that we leverage an existing SORN as the turn around can take up to 18-24 months at a minimum.  Just for reference NRM still has one under way and its been many years.

[2020-11-18 15:40] mwreiss commented on #197
Document drafted to address:

[MVP Data Storage.docx](https://github.com/USDAForestService/USFS-timber-permitting/files/5561105/MVP.Data.Storage.docx)

@carlsonem  started a doc to address this issue.

[2020-11-18 15:44] mwreiss commented on #84
@carlsonem we should have an internal discussion on this one.

[2020-11-18 15:45] mwreiss commented on #154
@mtlaney Since we are addressing API standup in another issue, can we close this one out?

[2020-11-23 16:16] mwreiss commented on #197
Need PO approval, move to blocked

[2020-11-23 19:29] mwreiss commented on #193
@carlsonem did you get word from the POSS team that it showed up on their side?

[2020-11-25 18:37] mwreiss commented on #84
@carlsonem  the research part of this issue is completed.  We are just waiting on feedback from Deb on which SORN to use.  Since we are not going to start a new SORN but rather leverage an existing one, the last two tasks are not necessary for the OF team to address.  I think we are good to close this issue out.

A new issue could be produced on the Program Board to track progress with the Forest

[2020-11-25 18:43] mwreiss commented on #154
After review with @mtlaney this one can be closed.  We have identified how we will handle a rejected response.

[2020-12-01 19:16] #222 closed, assigned to nobody

[2020-12-01 19:22] carlsonem commented on #175
@abdul-fs can you please document this process. Please check with Matt on the details

[2020-12-01 19:23] carlsonem commented on #220
@smahmudFS would you be able to reach out and see if they are interested in migrating the platform to Open Forest

[2020-12-07 16:43] Dmac26 opened #223 "As Firewood Permit Purchaser, I would like a the "proceed to checkout" button to be disabled and/or grayed out after I have already purchased a permit"
## Notes
When a user submits payment for a firewood permit, there is a time lag while their permit is being processed. Currently, users can inadvertently purchase a duplicate permit during that time. In order to prevent duplicates and confusion in general, we should disable the "proceed to checkout" button while permits are being processed. Perhaps the button should be grayed out and a loading spi

[2020-12-07 16:50] Dmac26 opened #224 "As a Firewood Permit Purchaser, I would like the total_cost of my permit to be accurately logged and displayed so that I can prove my purchase if necessary"
## Notes
Currently, the total_cost column of the database is being populated with the number of cords a user selects instead of the cost. This bug needs to be fixed so that pay the proper amount, while at the same time have sufficient proof that they are being permitted to gather X number of cords.

## Tasks
- [x] Determine tasks necessary to complete this card
- [x] PO approved

## Definition of

[2020-12-10 19:56] Rebekah-Hernandez commented on #206
Here is the frontline staff documentation: https://usfs.app.box.com/file/751994881980

[2020-12-10 22:00] Dmac26 commented on #206
@Rebekah-Hernandez - Looks good to me! I'd just say we need to remember to check the links once the site is live on Prod.

[2020-12-10 22:03] Dmac26 commented on #206
@bboddiger @carlsonem - Hey Beth and Eric, if would be one of you two who would need to approve Rebekah's Front-line Guide for Firewood Permits correct? I have reviewed it for any grammatical and/spelling errors and it looks good to me.

[2020-12-14 19:13] mwreiss commented on #221
Completed 12-14

[2020-12-14 19:13] #221 closed, assigned to aQuib

[2020-12-14 22:10] briandavidson commented on #224
Now that we have all the required data fields and staging is up and running again this got taken care of as it was part of the follow up work I'd been waiting to do.

@carlsonem I'm not sure if we still want to run this through the zenhub phases or just close it out.

cc @Dmac26

[2020-12-23 17:40] Dmac26 opened #225 "Add the `'forestCode'` attribute back into the forests.es6 page"
## Notes
At some point the `'forestCode'` attribute was inadvertently removed from `forests.es6`. It needs to be added back in.

## Tasks
- [ ] Add `'foresCode'` attribute back into `forest.es6` on line 20
- [ ] PO approved

## Definition of Done
- [ ] Pull requests meet technical definition of done
- [ ] Compare finished design with mockup
- [ ] Usability tested

[2020-12-29 17:43] Dmac26 commented on #213
@mtlaney or @jstrothman This seems to have been fixed somewhere along the way. Can we move this to awaiting acceptance or delete the card.

![image.png](https://images.zenhubusercontent.com/5d93a896a615ef000109902d/ede956a6-6c0f-4d0f-ac5c-bc7fe855a4b4)

[2020-12-30 18:32] Dmac26 commented on #215
Being taken care of on card 1362

https://github.com/USDAForestService/fs-open-forest-platform/issues/1362

[2020-12-30 18:32] #215 closed, assigned to nobody

[2021-02-04 19:04] carlsonem commented on #205
@mtlaney Can this be closed out?

[2021-02-04 21:11] mtlaney commented on #205
yep, moved it over to ready for main

[2021-02-05 18:47] #68 closed

[2021-03-03 04:22] aQuib commented on #187
[Wireframe to be usability tested](https://usfs.app.box.com/file/782492395065)

[2021-03-23 17:47] aQuib commented on #187
Here are wireframe to guide development:
[https://app.zenhub.com/files/214296595/824364da-c8ea-4d78-9a98-3dd458bc86dc/download](https://app.zenhub.com/files/214296595/824364da-c8ea-4d78-9a98-3dd458bc86dc/download)